.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 400px;
  width: 810px;
  padding: 30px 70px;
  margin: auto;
  padding-bottom: 475px;
}

.backGround {
  height: 93.4vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/background.jpeg");
  position: relative;
}

.mask {
  position: absolute;
  height: 60%; /* 全画面表示 */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top:200px;
}

.book-list {
  padding-top: 30px;
}

.book-item {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 50px;
  background: #ffffff;
  margin: 15px;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 3px;
  position: relative;
}

.book-date {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
  text-align: center;
}

.btns {
  
  /* justify-content: space-evenly; */
}

.download_btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  top: 20px;
  margin-left: auto;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

/* .update {
  padding-bottom: 30px;
} */

.status-msg {
  padding-top: 10px;
  padding-left: 50px;
}

.bop {
  width: 405px;
}

.mgr-10 {
  margin-right : 30px;
}

.red {
  color: red;
}